
$primarycolor:teal;
$secondarycolor:cornflowerblue;
$accentcolor:darkblue;
$contentcolor:mediumvioletred;

%basicpara {
    font-family:Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

@media(min-width:992px) {

    .mynav a {
        font-size:1.5rem !important;
    }

    .pagejump {
        display:none;
    }

    %basicpara {
        font-size:1rem;
    }

    .clear {
        clear:both;
    }
}

body {
    margin:5px 18px;
}

.banner {
    background-color:$primarycolor;
    text-align: center;
    padding: 5px 18px;
}

.mynav {
    a {
        color:white;
    }

    .active {
        background-color:$accentcolor;
    }

    background-color:$secondarycolor;
    font-size: .7rem;
    margin:0px 0px 8px 0px;
}

.mynavind {
    width:25%;
    background-color:$secondarycolor;
    float:left;
    padding-left:3px;
}

#about {
    background-color:$primarycolor;
}

.pagejump {
    a:hover {
        color:$contentcolor;
    }
    clear:both;
    font-size: .75rem;
    text-align:center;
}

.row h5 {
    text-align:center;
}

.nestedul {
    color:$contentcolor;
}

.morenestedul {
    color:$primarycolor;
}

.pagination {
    a {
        margin:auto;
        text-align:center;
    }

    a:hover {
        color:$contentcolor;
    }
    width:100%;
}

.sectitle {
    background-color:teal;
    text-align:center;
    padding-bottom:3px;
}

p {
    @extend %basicpara;
}

.pintro {
    @extend %basicpara;
    font-weight:bold;
    padding:8px;
}

.psub {
    @extend %basicpara;
    font-style:italic;
}